UAT/force-app/main/default/flows/Activa_TriggerIsConverted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Se_debe_convertir</name>
        <label>¿Se debe convertir?</label>
        <locationX>393</locationX>
        <locationY>309</locationY>
        <defaultConnectorLabel>NO01</defaultConnectorLabel>
        <rules>
            <name>SI01</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HDI4I_Paso_cotizacion_web__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elegir</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HDI4I_Prioridad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HDI4I_Prioridad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HDI4I_PrioridadLead100</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HDI4I_ObtieneIdLeadConvertido</targetReference>
            </connector>
            <label>SI01</label>
        </rules>
    </decisions>
    <description>Flujo que permite la actualización del prospecto para activar la conversión automática en cuenta y oportunidad. Además permite actualizar oportunidad con datos posteriores a la conversión.</description>
    <formulas>
        <name>HDI4I_SUM15_CloseDateOpp</name>
        <dataType>Date</dataType>
        <expression>TODAY() +15</expression>
    </formulas>
    <interviewLabel>Activa Trigger Conversión {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACTIVA TRIGGER CONVERSIÓN</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>HDI4I_ObtieneIdLeadConvertido</name>
        <label>Obtiene IdLead Convertido</label>
        <locationX>715</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HDI4I_ActualizaLeadConvertido</targetReference>
        </connector>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>HDI4I_GetIdLeadBase</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_IdLead_01</name>
        <label>OBTIENE IDLEAD01</label>
        <locationX>136</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Se_debe_convertir</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VSV2</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>HDI4I_BaseLead02</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ConvertedAccountId</queriedFields>
        <queriedFields>ConvertedContactId</queriedFields>
        <queriedFields>ConvertedDate</queriedFields>
        <queriedFields>ConvertedOpportunityId</queriedFields>
        <queriedFields>Address</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>HDI4I_Ano_del_vehiculo__c</queriedFields>
        <queriedFields>HDI4I_Auto_reemplazo__c</queriedFields>
        <queriedFields>HDI4I_Campana_cotizador_web__c</queriedFields>
        <queriedFields>HDI4I_Codigo_de_producto_elegido__c</queriedFields>
        <queriedFields>HDI4I_Deducible__c</queriedFields>
        <queriedFields>HDI4I_Digito_verif_rut_dueno_vehiculo__c</queriedFields>
        <queriedFields>HDI4I_Digito_verificador_rut_cliente__c</queriedFields>
        <queriedFields>HDI4I_Dueno_vehiculo__c</queriedFields>
        <queriedFields>HDI4I_Fecha_envio_cotizacion__c</queriedFields>
        <queriedFields>HDI4I_FechaHora_ultima_modificacion__c</queriedFields>
        <queriedFields>HDI4I_Id_Marca_vehiculo__c</queriedFields>
        <queriedFields>HDI4I_Id_Modelo_vehiculo__c</queriedFields>
        <queriedFields>HDI4I_Id_Oportunidad_web__c</queriedFields>
        <queriedFields>HDI4I_IdTarifa__c</queriedFields>
        <queriedFields>HDI4I_Marca__c</queriedFields>
        <queriedFields>HDI4I_Modelo__c</queriedFields>
        <queriedFields>HDI4I_Oportunidad_gestionada__c</queriedFields>
        <queriedFields>HDI4I_Pago_primera_cuota__c</queriedFields>
        <queriedFields>HDI4I_Paso_cotizacion_web__c</queriedFields>
        <queriedFields>HDI4I_Patente_del_vehiculo__c</queriedFields>
        <queriedFields>HDI4I_Prima_cotizo_seguro__c</queriedFields>
        <queriedFields>HDI4I_Prioridad__c</queriedFields>
        <queriedFields>HDI4I_Producto_seleccionado__c</queriedFields>
        <queriedFields>HDI4I_Responsabilidad_civil__c</queriedFields>
        <queriedFields>HDI4I_RUT_del_cliente__c</queriedFields>
        <queriedFields>HDI4I_RUT_dueno_del_vehiculo__c</queriedFields>
        <queriedFields>HDI4I_Tipo_de_pago__c</queriedFields>
        <queriedFields>HDI4I_Tipo_de_vehiculo__c</queriedFields>
        <queriedFields>HDI4I_UTMGoogle__c</queriedFields>
        <queriedFields>HDI4I_Vehiculo_nuevo__c</queriedFields>
        <queriedFields>HDI4I_Vehiculo_tiene_patente__c</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>MiddleName</queriedFields>
        <queriedFields>LastModifiedById</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>Salutation</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Oportunidad</name>
        <label>Actualiza Oportunidad</label>
        <locationX>941</locationX>
        <locationY>488</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>HDI4I_SUM15_CloseDateOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HDI4I_Nombres_contratante__c</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.HDI4I_Id_Oportunidad_web__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Cotizando</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>HDI4I_ActualizaLeadConvertido</name>
        <label>Actualiza Lead01</label>
        <locationX>941</locationX>
        <locationY>307</locationY>
        <connector>
            <targetReference>Actualiza_Oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HDI4I_GetIdLeadBase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Calificado</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>71</locationX>
        <locationY>13</locationY>
        <connector>
            <targetReference>Obtiene_IdLead_01</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VSV2</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>HDI4I_BaseLead02</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>HDI4I_GetIdLeadBase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>HDI4I_PrioridadLead100</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>100</stringValue>
        </value>
    </variables>
</Flow>
