UAT/force-app/main/default/flows/ATUALIZA_CASO_CON_DATOS_DE_CONTACTO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <interviewLabel>ATUALIZA CASO CON DATOS DE CONTACTO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACTUALIZA CASO CON DATOS DE CONTACTO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>HDI4I_OBTIENECONTACTO</name>
        <label>OBTIENE CONTACTO</label>
        <locationX>174</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HDI4I_ACTUALIZACASO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rut_sin_puntos_y_con_gui_n__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HDI4I_Rut__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>HDI4I_Rut__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>HDI4I_ACTUALIZACASO</name>
        <label>ACTUALIZA CASO</label>
        <locationX>375</locationX>
        <locationY>341</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>HDI4I_OBTIENECONTACTO.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>48</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>HDI4I_OBTIENECONTACTO</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123t000000S28VAAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123t000000S28WAAS</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
