UAT/force-app/main/default/flows/BECS_OpportunityFlowAfter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>Comprueba si tiene Cotización Creada</description>
        <name>BECS_CheckCotizacion</name>
        <label>Check Cotización</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>BECS_TipoRegistroPoliza</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Created</defaultConnectorLabel>
        <rules>
            <name>BECS_CotizacionNoCreada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HDI4I_Automatizo_creacion_presupuesto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BECS_CreaCotizacion</targetReference>
            </connector>
            <label>Not Created</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprueba si el Record es creado o updateado</description>
        <name>BECS_CheckIsCreatedvsIsUpdated</name>
        <label>Check Is Created vs Is Updated</label>
        <locationX>336</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Is Updated</defaultConnectorLabel>
        <rules>
            <name>BECS_IsCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BECS_FormulaIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BECS_CheckCotizacion</targetReference>
            </connector>
            <label>Is Created</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprueba que el Record Type != null y si el Record Type = Oportunidad venta seguro automóvil.</description>
        <name>BECS_CheckRecordType</name>
        <label>Check Record Type</label>
        <locationX>545</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Other Record Types</defaultConnectorLabel>
        <rules>
            <name>BECS_OportunidadVentaSeguroAutomovil</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HDI4I_Oportunidad_venta_seguro_automovil</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BECS_CheckIsCreatedvsIsUpdated</targetReference>
            </connector>
            <label>Oportunidad Venta Seguro Automóvil</label>
        </rules>
    </decisions>
    <description>Flow After-Save de Oportunidad</description>
    <environments>Default</environments>
    <formulas>
        <name>BECS_FormulaIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>Comprueba si el Record es creado</description>
        <name>BECS_isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>Crea un numero para la póliza</description>
        <name>BECS_NumeroPoliza</name>
        <dataType>String</dataType>
        <expression>&quot;PÓLIZA&quot; + &quot; &quot; + {!$Record.Account.HDI4I_RUT_del_cliente__c}</expression>
    </formulas>
    <interviewLabel>BECS_OpportunityFlowAfter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BECS_OpportunityFlowAfter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Crea una cotización</description>
        <name>BECS_CreaCotizacion</name>
        <label>Crea Cotización</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>BECS_TipoRegistroPoliza</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>CLF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HDI4I_Ano_del_vehiculo__c</field>
            <value>
                <elementReference>$Record.HDI4I_Ano_del_vehiculo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HDI4I_Marca__c</field>
            <value>
                <elementReference>$Record.HDI4I_Marca__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HDI4I_Modelo__c</field>
            <value>
                <elementReference>$Record.HDI4I_Modelo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Nueva</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>BECS_CrearPoliza</name>
        <label>BECS_CrearPoliza</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>BECS_ActualizaCotizacionOportunidad</targetReference>
        </connector>
        <inputAssignments>
            <field>BECS_AutodeReemplazo__c</field>
            <value>
                <elementReference>$Record.HDI4I_Auto_reemplazo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BECS_Deducible__c</field>
            <value>
                <elementReference>$Record.HDI4I_Deducible__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BECS_ProductoSeleccionado__c</field>
            <value>
                <elementReference>$Record.HDI4I_Producto_seleccionado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BECS_ResponsabilidadCivil__c</field>
            <value>
                <elementReference>$Record.HDI4I_Responsabilidad_civil__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__PrimaryOwner__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>BECS_TipoRegistroPoliza.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FinServ__FinancialAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>BECS_TipoRegistroPoliza</name>
        <label>BECS_TipoRegistroPoliza</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BECS_CrearPoliza</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InsurancePolicy</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FinServ__FinancialAccount__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Asocia la Cotizacion creada a la oportunidad</description>
        <name>BECS_ActualizaCotizacionOportunidad</name>
        <label>Actualiza Oportunidad</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <inputAssignments>
            <field>FinServ__FinancialAccount__c</field>
            <value>
                <elementReference>BECS_CrearPoliza</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HDI4I_Automatizo_creacion_presupuesto__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HDI4I_Id_cotizacion__c</field>
            <value>
                <elementReference>BECS_CreaCotizacion</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BECS_CheckRecordType</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
