UAT/force-app/main/default/flows/BECS_FinancialAccount_Flow_After.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>BECS_NumeroPoliza</name>
        <label>Número de póliza</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>HayNumeroPoliza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BECS_NumerodePoliza__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BECS_OportunidadGanada</targetReference>
            </connector>
            <label>HayNúmeroPoliza</label>
        </rules>
    </decisions>
    <decisions>
        <name>BECS_TipoRegistro</name>
        <label>Tipo de Registro</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>BECS_InsurancePolicy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>InsurancePolicy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BECS_NumeroPoliza</targetReference>
            </connector>
            <label>InsurancePolicy</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>BECS_FinancialAccount - Flow After {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BECS_FinancialAccount - Flow After</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>BECS_OportunidadGanada</name>
        <label>BECS Oportunidad Ganada</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__FinancialAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Ganada</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BECS_TipoRegistro</targetReference>
        </connector>
        <object>FinServ__FinancialAccount__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
