UAT/force-app/main/default/flows/Cases_rebuild_workflow_and_process_builder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alerta_SLA_caso_de_Chat_Center</name>
        <label>Alerta SLA caso de Chat Center</label>
        <locationX>5858</locationX>
        <locationY>408</locationY>
        <actionName>Case.Alerta_SLA_caso_de_Chat_Center</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Caso_no_ha_salido_de_Asignaci_n_Devoluciones</name>
        <label>Caso no ha salido de Asignación (Devoluciones)</label>
        <locationX>2954</locationX>
        <locationY>408</locationY>
        <actionName>Case.Caso_no_ha_salido_de_Asignaci_n</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Caso_no_ha_salido_de_Asignaci_n_P_rdidas_Totales_Estado</name>
        <label>Caso no ha salido de Asignación (Pérdidas Totales - Estado)</label>
        <locationX>3218</locationX>
        <locationY>408</locationY>
        <actionName>Case.Caso_no_ha_salido_de_Asignaci_n_P_rdidas_Totales_Estado</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Caso_no_ha_salido_de_Asignaci_n_P_rdidas_Totales_Pago</name>
        <label>Caso no ha salido de Asignación (Pérdidas Totales - Pago)</label>
        <locationX>3482</locationX>
        <locationY>408</locationY>
        <actionName>Case.Caso_no_ha_salido_de_Asignaci_n_P_rdidas_Totales_Pago</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Caso_no_ha_salido_de_Resoluci_n_1_p_rdidas_totales_Estado</name>
        <label>Caso no ha salido de Resolución (1) (pérdidas totales - Estado)</label>
        <locationX>4538</locationX>
        <locationY>528</locationY>
        <actionName>Case.Caso_no_ha_salido_de_Resoluci_n_1_p_rdidas_totales_Estado</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Caso_no_ha_salido_de_Resoluci_n_1_p_rdidas_totales_Pago</name>
        <label>Caso no ha salido de Resolución (1) (pérdidas totales - Pago)</label>
        <locationX>4802</locationX>
        <locationY>528</locationY>
        <actionName>Case.Caso_no_ha_salido_de_Resoluci_n_1_p_rdidas_totales_Pago</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Caso_no_ha_salido_de_Resoluci_n_2_Devoluciones</name>
        <label>Caso no ha salido de Resolución (2) (Devoluciones)</label>
        <locationX>5066</locationX>
        <locationY>528</locationY>
        <actionName>Case.Caso_no_ha_salido_de_Resoluci_n_2_Devoluciones</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Caso_no_ha_salido_de_Resoluci_n_2_Devoluciones_s</name>
        <label>Caso no ha salido de Resolución (2) (Devoluciones)s</label>
        <locationX>6386</locationX>
        <locationY>408</locationY>
        <actionName>Case.Caso_no_ha_salido_de_Resoluci_n_2_Devoluciones</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Caso_no_ha_salido_de_Resoluci_n_2_p_rdidas_totales_Estado</name>
        <label>Caso no ha salido de Resolución (2) (pérdidas totales - Estado)</label>
        <locationX>6914</locationX>
        <locationY>408</locationY>
        <actionName>Case.Caso_no_ha_salido_de_Resoluci_n_2_p_rdidas_totales_Estado</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Caso_no_ha_salido_de_Resoluci_n_2_p_rdidas_totales_Pago</name>
        <label>Caso no ha salido de Resolución (2) (pérdidas totales - Pago)</label>
        <locationX>7178</locationX>
        <locationY>408</locationY>
        <actionName>Case.Caso_no_ha_salido_de_Resoluci_n_2_p_rdidas_totales_Pago</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Caso_no_ha_salido_de_Resoluci_n_3_Devoluciones</name>
        <label>Caso no ha salido de Resolución (3) (Devoluciones)</label>
        <locationX>7442</locationX>
        <locationY>408</locationY>
        <actionName>Case.Caso_no_ha_salido_de_Resoluci_n_3_Devoluciones</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notifica_Caso_Cerrado_NO_Devoluciones</name>
        <label>Notifica Caso Cerrado (NO) (Devoluciones)</label>
        <locationX>974</locationX>
        <locationY>408</locationY>
        <actionName>Case.Notifica_Caso_Cerrado_NO_Devoluciones</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CASO_Copia_el_rut_en_el_contacto</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notifica_Caso_Cerrado_P_rdidas_Totales</name>
        <label>Notifica Caso Cerrado (Pérdidas Totales)</label>
        <locationX>1238</locationX>
        <locationY>408</locationY>
        <actionName>Case.Notifica_Caso_Cerrado_P_rdidas_Totales</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CASO_Copia_el_rut_en_el_contacto</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notifica_Caso_Cerrado_SD_Devoluciones</name>
        <label>Notifica Caso Cerrado (SD) (Devoluciones)</label>
        <locationX>4010</locationX>
        <locationY>408</locationY>
        <actionName>Case.Notifica_Caso_Cerrado_SD_Devoluciones</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notifica_Caso_Cerrado_SD_P_rdidas_Totales</name>
        <label>Notifica Caso Cerrado (SD) (Pérdidas Totales)</label>
        <locationX>4274</locationX>
        <locationY>408</locationY>
        <actionName>Case.Notifica_Caso_Cerrado_SD_P_rdidas_Totales</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notifica_Caso_Cerrado_SI_Devoluciones</name>
        <label>Notifica Caso Cerrado (SI) (Devoluciones)</label>
        <locationX>1502</locationX>
        <locationY>408</locationY>
        <actionName>Case.Notifica_Caso_Cerrado_SI_Devoluciones</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CASO_Copia_el_rut_en_el_contacto</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Reasignaci_n_de_caso</name>
        <label>Reasignación de caso</label>
        <locationX>578</locationX>
        <locationY>744</locationY>
        <actionName>Case.Reasignaci_n_de_caso</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>CASO_Copia_el_rut_en_el_contacto</name>
        <label>CASO: Copia el rut en el contacto</label>
        <locationX>1370</locationX>
        <locationY>624</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Es_Chat_center</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chatcenter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Es Chat center</label>
        </rules>
        <rules>
            <name>fija_fecha_de_compromiso_para_Devoluciones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post_venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>PriorReason</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fecha_Comprometida</targetReference>
            </connector>
            <label>fija fecha de compromiso para Devoluciones</label>
        </rules>
        <rules>
            <name>Notifica_asignaci_n</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Chatcenter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Siniestro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>HDI_Siniestro_SIN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reasignaci_n_de_caso</targetReference>
            </connector>
            <label>Notifica asignación</label>
        </rules>
        <rules>
            <name>Bloquea_Casos_Cerrados_DEv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post_venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>actualiza_record_id_DEV</targetReference>
            </connector>
            <label>Bloquea Casos Cerrados DEv</label>
        </rules>
        <rules>
            <name>Bloquea_Casos_cerrados_PT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P_rdida_Total</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>actualiza_redord_id_PT</targetReference>
            </connector>
            <label>Bloquea Casos cerrados PT</label>
        </rules>
        <rules>
            <name>Fechas_Solicitud_documentos_cliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HDI4I_Documentos_Cliente__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solicitados al cliente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HDI4I_Documentos_Cliente__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registra_Fecha_de_Solicitud_de_Documentos</targetReference>
            </connector>
            <label>Fechas Solicitud documentos cliente</label>
        </rules>
        <rules>
            <name>Guarda_SLA_s_de_Resoluci_n</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HDI4I_Etapa_Control__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolución</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SLAResolucion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>actualiza_Fecha_SLA</targetReference>
            </connector>
            <label>Guarda SLA&apos;s de Resolución</label>
        </rules>
        <rules>
            <name>RR_Asigna_agente_seg_n_RR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HDI4i_Agente_asignado__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Siniestro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>HDI_Siniestro_SIN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asigna_agente_Elegido</targetReference>
            </connector>
            <label>RR: Asigna agente según RR</label>
        </rules>
        <rules>
            <name>Sub_tipo_de_caso_DEV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Devolución</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post_venta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>actuliza_Subtipo_DEV</targetReference>
            </connector>
            <label>Sub tipo de caso DEV</label>
        </rules>
        <rules>
            <name>Sub_tipo_de_caso_PT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Devolución</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P_rdida_Total</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subtipo_PT</targetReference>
            </connector>
            <label>Sub tipo de caso PT</label>
        </rules>
    </decisions>
    <decisions>
        <name>condiciones</name>
        <label>condiciones</label>
        <locationX>1370</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>CASO_Copia_el_rut_en_el_contacto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cerrado_NO_Devoluciones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Corresponde_devoluci_n__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Devolución</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post_venta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notifica_Caso_Cerrado_NO_Devoluciones</targetReference>
            </connector>
            <label>Cerrado NO Devoluciones</label>
        </rules>
        <rules>
            <name>Cerrado_Perdidas_Totales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pérdida Total</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P_rdida_Total</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notifica_Caso_Cerrado_P_rdidas_Totales</targetReference>
            </connector>
            <label>Cerrado Perdidas Totales</label>
        </rules>
        <rules>
            <name>Cerrado_SI_Devolucion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Corresponde_devoluci_n__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Devolución</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post_venta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notifica_Caso_Cerrado_SI_Devoluciones</targetReference>
            </connector>
            <label>Cerrado SI Devolucion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Condition</name>
        <label>Condition</label>
        <locationX>3350</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SLA_Asignacion_Devolucion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asignado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Devolución</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post_venta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Caso_no_ha_salido_de_Asignaci_n_Devoluciones</targetReference>
            </connector>
            <label>SLA Asignacion Devolucion</label>
        </rules>
        <rules>
            <name>SLA_Asignacion_Perdidas_Totales_Estado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asignado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pérdida Total</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estado del proceso de pérdida total</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P_rdida_Total</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Caso_no_ha_salido_de_Asignaci_n_P_rdidas_Totales_Estado</targetReference>
            </connector>
            <label>SLA Asignacion Perdidas Totales - Estado</label>
        </rules>
        <rules>
            <name>SLA_Asignacion_Perdidas_Totales_Pago</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estado del pago de pérdida total</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asignado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pérdida Total</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P_rdida_Total</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Caso_no_ha_salido_de_Asignaci_n_P_rdidas_Totales_Pago</targetReference>
            </connector>
            <label>SLA Asignacion Perdidas Totales - Pago</label>
        </rules>
    </decisions>
    <decisions>
        <name>SLA</name>
        <label>SLA</label>
        <locationX>4934</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SLA1_perdidas_totales_Estado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estado del proceso de pérdida total</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pérdida Total</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pérdida Total</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Caso_no_ha_salido_de_Resoluci_n_1_p_rdidas_totales_Estado</targetReference>
            </connector>
            <label>SLA1 perdidas totales - Estado</label>
        </rules>
        <rules>
            <name>SLA1_perdidas_totales_Pago</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pérdida Total</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pérdida Total</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estado del pago de pérdida total</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Caso_no_ha_salido_de_Resoluci_n_1_p_rdidas_totales_Pago</targetReference>
            </connector>
            <label>SLA1 perdidas totales - Pago</label>
        </rules>
        <rules>
            <name>SLA2_Devoluciones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Devolución</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Caso_no_ha_salido_de_Resoluci_n_2_Devoluciones</targetReference>
            </connector>
            <label>SLA2 Devoluciones</label>
        </rules>
    </decisions>
    <decisions>
        <name>X1hs_condiciones</name>
        <label>1hs condiciones</label>
        <locationX>5990</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SLA_Total_Chat_Centerr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chatcenter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SLAregex</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alerta_SLA_caso_de_Chat_Center</targetReference>
            </connector>
            <label>SLA Total Chat Center</label>
        </rules>
    </decisions>
    <decisions>
        <name>X2dias_condiciones</name>
        <label>2dias condiciones</label>
        <locationX>6518</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SLA1_Resoluci_n_Devoluciones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post_venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Devolución</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SLA1ResolucionStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Caso_no_ha_salido_de_Resoluci_n_2_Devoluciones_s</targetReference>
            </connector>
            <label>SLA1 Resolución (Devoluciones)</label>
        </rules>
    </decisions>
    <decisions>
        <name>X3dias_condiciones</name>
        <label>3dias condiciones</label>
        <locationX>4802</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SLA_sin_Documnetacion_Devoluciones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Devolución</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post_venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cerrado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HDI4I_Documentos_Cliente__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solicitados al cliente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notifica_Caso_Cerrado_SD_Devoluciones</targetReference>
            </connector>
            <label>SLA sin Documnetacion Devoluciones</label>
        </rules>
        <rules>
            <name>SLA_sin_Documentacion_Perdidas_Totales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pérdida Total</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P_rdida_Total</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cerrado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HDI4I_Documentos_Cliente__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solicitados al cliente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notifica_Caso_Cerrado_SD_P_rdidas_Totales</targetReference>
            </connector>
            <label>SLA sin Documentacion Perdidas Totales</label>
        </rules>
        <rules>
            <name>SLA1_Resoluci_n</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolución</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalando</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SLA</targetReference>
            </connector>
            <label>SLA1 Resolución</label>
        </rules>
    </decisions>
    <decisions>
        <name>X4dias_condiciones</name>
        <label>4dias condiciones</label>
        <locationX>7310</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SLA2_Resoluci_n_p_rdidas_totales_Estado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P_rdida_Total</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pérdida Total</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estado del proceso de pérdida total</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SLAResolucion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Caso_no_ha_salido_de_Resoluci_n_2_p_rdidas_totales_Estado</targetReference>
            </connector>
            <label>SLA2 Resolución (pérdidas totales - Estado)</label>
        </rules>
        <rules>
            <name>SLA2_Resoluci_n_p_rdidas_totales_Pago</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P_rdida_Total</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pérdida Total</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estado del pago de pérdida total</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SLAResolucion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Caso_no_ha_salido_de_Resoluci_n_2_p_rdidas_totales_Pago</targetReference>
            </connector>
            <label>SLA2 Resolución (pérdidas totales - Pago)</label>
        </rules>
        <rules>
            <name>SLA3_Resoluci_n_Devoluciones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post_venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Devolución</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Caso_no_ha_salido_de_Resoluci_n_3_Devoluciones</targetReference>
            </connector>
            <label>SLA3 Resolución (Devoluciones)</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Copiadigitoverificador</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.HDI4I_Rut__c} , 1)</expression>
    </formulas>
    <formulas>
        <name>Copiarutdelcliente</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.HDI4I_Rut__c} , LEN({!$Record.HDI4I_Rut__c})-2 )</expression>
    </formulas>
    <formulas>
        <name>CreateDate3</name>
        <dataType>Date</dataType>
        <expression>DATETIMEVALUE({!$Record.CreatedDate}+3)</expression>
    </formulas>
    <formulas>
        <name>FechaAhora</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>PriorReason</name>
        <dataType>String</dataType>
        <expression>PRIORVALUE({!$Record.Reason})</expression>
    </formulas>
    <formulas>
        <name>SLA1ResolucionStatus</name>
        <dataType>Boolean</dataType>
        <expression>TEXT({!$Record.Status}) = &quot;Resolución&quot; || TEXT({!$Record.Status}) = &quot;Escalando&quot;</expression>
    </formulas>
    <formulas>
        <name>SLAregex</name>
        <dataType>Boolean</dataType>
        <expression>(!ISPICKVAL( {!$Record.Status}, &quot;Cerrado&quot;) &amp;&amp; !ISPICKVAL( {!$Record.Status}, &quot;Cerrado sin Resolución&quot;)&amp;&amp; !ISPICKVAL( {!$Record.Status}, &quot;Cerrado en Chat&quot;))</expression>
    </formulas>
    <formulas>
        <name>SLAResolucion</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!$Record.HDI4I_SLA_Resoluci_n__c}) &amp;&amp; ISBLANK({!$Record.HDI4I_SLA2_Resoluci_n__c}) &amp;&amp; ISBLANK({!$Record.SLA3_Resoluci_n__c})</expression>
    </formulas>
    <formulas>
        <name>subtipoDev</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.HDI4I_C_digo_corredor__c}) &amp;&amp; ISBLANK({!$Record.HDI4I_Nombre_del_corredor__c})
,&quot;Devolución Clientes&quot;, &quot;Devolución Corredores&quot;)</expression>
    </formulas>
    <formulas>
        <name>subtipoPT</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.HDI4I_C_digo_corredor__c}) &amp;&amp; ISBLANK({!$Record.HDI4I_Nombre_del_corredor__c})
,&quot;Pérdida total cliente&quot;, &quot;Pérdida total corredor&quot;)</expression>
    </formulas>
    <interviewLabel>Cases rebuild workflow and process builder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cases rebuild workflow and process builder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>actualiza_Fecha_SLA</name>
        <label>actualiza Fecha SLA</label>
        <locationX>1634</locationX>
        <locationY>744</locationY>
        <inputAssignments>
            <field>HDI4I_SLA2_Resoluci_n__c</field>
            <value>
                <elementReference>FechaAhora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HDI4I_SLA_Resoluci_n__c</field>
            <value>
                <elementReference>FechaAhora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA3_Resoluci_n__c</field>
            <value>
                <elementReference>FechaAhora</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>actualiza_record_id_DEV</name>
        <label>actualiza record id DEV</label>
        <locationX>842</locationX>
        <locationY>744</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123t000000S2Q6AAK</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>actualiza_redord_id_PT</name>
        <label>actualiza redord id PT</label>
        <locationX>1106</locationX>
        <locationY>744</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123t000000S2QBAA0</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>actuliza_Subtipo_DEV</name>
        <label>actuliza Subtipo DEV</label>
        <locationX>2162</locationX>
        <locationY>744</locationY>
        <inputAssignments>
            <field>HDI4I_Sub_Tipo__c</field>
            <value>
                <elementReference>subtipoDev</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>asigna_agente_Elegido</name>
        <label>asigna agente Elegido</label>
        <locationX>1898</locationX>
        <locationY>744</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.HDI4i_Agente_asignado__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Registra_Fecha_de_Solicitud_de_Documentos</name>
        <label>Registra Fecha de Solicitud de Documentos</label>
        <locationX>1370</locationX>
        <locationY>744</locationY>
        <inputAssignments>
            <field>HDI4I_Fecha_Sol_Documentos_a_Cliente__c</field>
            <value>
                <elementReference>FechaAhora</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Subtipo_PT</name>
        <label>Subtipo PT</label>
        <locationX>2426</locationX>
        <locationY>744</locationY>
        <inputAssignments>
            <field>HDI4I_Sub_Tipo__c</field>
            <value>
                <elementReference>subtipoPT</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>50</locationX>
        <locationY>744</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>HDI4I_RUT_del_cliente__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HDI4I_Digito_verificador_rut_cliente__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>HDI4I_Digito_verificador_rut_cliente__c</field>
            <value>
                <elementReference>Copiadigitoverificador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HDI4I_RUT_del_cliente__c</field>
            <value>
                <elementReference>Copiarutdelcliente</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fecha_Comprometida</name>
        <label>Update Fecha Comprometida</label>
        <locationX>314</locationX>
        <locationY>744</locationY>
        <inputAssignments>
            <field>HDI4I_Fecha_Comprometida__c</field>
            <value>
                <elementReference>CreateDate3</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>4214</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>condiciones</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X4hs_despues</name>
            <connector>
                <targetReference>Condition</targetReference>
            </connector>
            <label>4hs despues</label>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X3dias_despues</name>
            <connector>
                <targetReference>X3dias_condiciones</targetReference>
            </connector>
            <label>3dias despues</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1hs_despues</name>
            <connector>
                <targetReference>X1hs_condiciones</targetReference>
            </connector>
            <label>1hs despues</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X2dias_despues</name>
            <connector>
                <targetReference>X2dias_condiciones</targetReference>
            </connector>
            <label>2dias despues</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X4dias_despues</name>
            <connector>
                <targetReference>X4dias_condiciones</targetReference>
            </connector>
            <label>4dias despues</label>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
</Flow>
