UAT/force-app/main/default/flows/Chat_Transcript_rebuild_Flows.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Prop_no_es_autoproc</name>
        <label>Prop no es autoproc</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asigna_propietario_y_promueve_a_asignado_Chatcenter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chatcenter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Alias</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>autoproc</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCase.Status</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Propietario_del_Caso</targetReference>
            </connector>
            <label>Asigna propietario y promueve a asignado (Chatcenter)</label>
        </rules>
        <rules>
            <name>Asigna_propietario_y_promueve_a_asignado_Chatcenter_Sin_Estado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chatcenter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>autoproc</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCase.Status</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Etapa_y_Propietario_del_Caso</targetReference>
            </connector>
            <label>Asigna propietario y promueve a asignado (Chatcenter) Sin Estado</label>
        </rules>
        <rules>
            <name>Copia_Rut_en_el_caso_y_en_formato_contacto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chatcenter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_Rut_del_contacto_al_caso</targetReference>
            </connector>
            <label>Copia Rut en el caso y en formato contacto</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>copiaRutenContacto</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Contact.Rut_sin_puntos_y_con_gui_n__c}  , LEN({!$Record.Contact.Rut_sin_puntos_y_con_gui_n__c}) )</expression>
    </formulas>
    <formulas>
        <name>digitoVerifChat</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.Contact.Rut_sin_puntos_y_con_gui_n__c}  , 1)</expression>
    </formulas>
    <interviewLabel>Chat Transcript rebuild Flows {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chat Transcript rebuild Flows</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prop_no_es_autoproc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Etapa_y_Propietario_del_Caso</name>
        <label>Actualiza Etapa y Propietario del Caso</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Asignado</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Propietario_del_Caso</name>
        <label>Actualiza Propietario del Caso</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copia_Rut_del_contacto_al_caso</name>
        <label>Copia Rut del contacto al caso</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>copia_Rut_en_Contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact.Rut_sin_puntos_y_con_gui_n__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HDI4I_Rut__c</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copia_Rut_del_contacto_en_esta_transcripci_n</name>
        <label>Copia Rut del contacto en esta transcripción</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>HDI4I_RUT_del_visitante__c</field>
            <value>
                <elementReference>$Record.Contact.Rut_sin_puntos_y_con_gui_n__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>copia_Rut_en_Contacto</name>
        <label>copia Rut en Contacto</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Copia_Rut_del_contacto_en_esta_transcripci_n</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HDI4I_Digito_verificador_rut_cliente__c</field>
            <value>
                <elementReference>digitoVerifChat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HDI4I_RUT_del_cliente__c</field>
            <value>
                <elementReference>copiaRutenContacto</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCase</targetReference>
        </connector>
        <object>LiveChatTranscript</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
