UAT/force-app/main/default/flows/FLOW_ASIGNACION_OPORTUNIDADES.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>ShouldAssingOpp</name>
        <label>¿DEBE ASIGNAR OPORTUNIDAD POR PRIORIDAD 3?</label>
        <locationX>394</locationX>
        <locationY>296</locationY>
        <defaultConnectorLabel>NO01</defaultConnectorLabel>
        <rules>
            <name>SI01</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>GetOppCreated.HDI4I_Oportunidad_asignada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOppCreated.HDI4I_Paso_cotizacion_web__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contratar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOppCreated.HDI4I_Prioridad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProspectPriority100</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignStep01</targetReference>
            </connector>
            <label>SI01</label>
        </rules>
    </decisions>
    <interviewLabel>FLOW ASIGNACIÓN OPORTUNIDADES {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLOW ASIGNACIÓN OPORTUNIDADES</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetOppCreated</name>
        <label>OBTIENE OPORTUNIDADES EN CURSO</label>
        <locationX>222</locationX>
        <locationY>346</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ShouldAssingOpp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126s000000CiGtAAK</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>HDI4I_Round_Robin__c</queriedFields>
        <queriedFields>HDI4I_Prioridad__c</queriedFields>
        <queriedFields>HDI4I_Paso_cotizacion_web__c</queriedFields>
        <queriedFields>StageName</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AssignStep01</name>
        <label>ASIGNA PASO UNO (3)</label>
        <locationX>579</locationX>
        <locationY>228</locationY>
        <connector>
            <targetReference>AssingStep01100</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HDI4I_Round_Robin__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>HDI4I_Paso_cotizacion_web__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contratar</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>HDI4I_Oportunidad_asignada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId01</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Contratando</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>AssignStep02</name>
        <label>ASIGNA PASO DOS (3)</label>
        <locationX>540</locationX>
        <locationY>498</locationY>
        <connector>
            <targetReference>AssingStep02100</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HDI4I_Round_Robin__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>HDI4I_Paso_cotizacion_web__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contratar</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>HDI4I_Oportunidad_asignada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId02</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Contratando</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>AssignStep03</name>
        <label>ASIGNA PASO TRES (3)</label>
        <locationX>542</locationX>
        <locationY>829</locationY>
        <connector>
            <targetReference>AssingStep03100</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HDI4I_Round_Robin__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>HDI4I_Paso_cotizacion_web__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contratar</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>HDI4I_Oportunidad_asignada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId03</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Contratando</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>AssingStep01100</name>
        <label>ASIGNA PASO UNO (100)</label>
        <locationX>784</locationX>
        <locationY>224</locationY>
        <connector>
            <targetReference>AssignStep02</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HDI4I_Round_Robin__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>HDI4I_Prioridad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProspectPriority100</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HDI4I_Oportunidad_asignada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId01</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Esperando Respuesta</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>AssingStep02100</name>
        <label>ASIGNA PASO DOS (100)</label>
        <locationX>794</locationX>
        <locationY>498</locationY>
        <connector>
            <targetReference>AssignStep03</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HDI4I_Round_Robin__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>HDI4I_Prioridad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProspectPriority100</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HDI4I_Oportunidad_asignada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId02</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Esperando Respuesta</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>AssingStep03100</name>
        <label>ASIGNA PASO TRES (100)</label>
        <locationX>807</locationX>
        <locationY>830</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HDI4I_Round_Robin__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>HDI4I_Prioridad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProspectPriority100</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HDI4I_Oportunidad_asignada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId03</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Esperando Respuesta</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetOppCreated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126s000000CiGtAAK</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>Informa el Owner Id 01 para asignación</description>
        <name>OwnerId01</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0053t000007QVfh</stringValue>
        </value>
    </variables>
    <variables>
        <description>Informa el Owner Id 02 para asignación</description>
        <name>OwnerId02</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0056s000000MxVy</stringValue>
        </value>
    </variables>
    <variables>
        <description>Informa el Owner Id 03 para asignación</description>
        <name>OwnerId03</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0056s000000Nkj6</stringValue>
        </value>
    </variables>
    <variables>
        <name>ProspectPriority100</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>100</stringValue>
        </value>
    </variables>
</Flow>
