UAT/force-app/main/default/flows/FLOW_INST_CALL_F2_Actualiza_indicador_de_oportunidad_manual.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <interviewLabel>FLOW INST-CALL F2: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLOW INST-CALL F2: Actualiza indicador de oportunidad manual</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>HDI4I_Obtiene_datos_cuenta</name>
        <label>OBTIENE DATOS DE LA CUENTA</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HDI4I_Obtiene_marca</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HDI4I_Obtiene_oportunidad.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>HDI4I_Obtiene_marca</name>
        <label>OBTIENE MARCA</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HDI4I_Obtiene_modelo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HDI4I_Obtiene_oportunidad.HDI4I_Marca_objeto__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HDI4I_Marca__c</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>HDI4I_Obtiene_modelo</name>
        <label>OBTIENE MODELO</label>
        <locationX>176</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HDI4I_Actualiza_oportunidad_basico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HDI4I_Obtiene_oportunidad.HDI4I_Modelo_objeto__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HDI4I_Modelo__c</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>HDI4I_Obtiene_oportunidad</name>
        <label>OBTIENE OPORTUNIDAD</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HDI4I_Obtiene_datos_cuenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123t000000JE6nAAG</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>HDI4I_Actualiza_oportunidad_basico</name>
        <label>ACTUALIZA OPORTUNIDAD - DATOS BÁSCIOS</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>CLF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HDI4I_Id_Marca_vehiculo__c</field>
            <value>
                <elementReference>HDI4I_Obtiene_marca.HDI4I_Codigo_de_la_marca__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HDI4I_Id_Modelo_vehiculo__c</field>
            <value>
                <elementReference>HDI4I_Obtiene_modelo.HDI4I_Codigo_del_modelo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HDI4I_Id_Oportunidad_web__c</field>
            <value>
                <elementReference>HDI4I_Obtiene_oportunidad.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HDI4I_Mail_de_contacto__c</field>
            <value>
                <elementReference>HDI4I_Obtiene_datos_cuenta.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HDI4I_Numero_contacto__c</field>
            <value>
                <elementReference>HDI4I_Obtiene_datos_cuenta.LastModifiedBy.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HDI4I_Origen_de_la_oportunidad__c</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HDI4I_Obtiene_oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123t000000JE6nAAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
