UAT/force-app/main/default/flows/GetCaseByNumeroSiniestro.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <description>Obtener un caso utilizando un número de siniestro</description>
    <environments>Default</environments>
    <interviewLabel>Get Case by Número Siniestro {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Case by Número Siniestro</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Finds a matching Case using Case Number and Email Address and stores the Case&apos;s subject and status.</description>
        <name>Look_up_Case</name>
        <label>Look up Case</label>
        <locationX>495</locationX>
        <locationY>167</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LinkMessageSessionWithCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HDI4I_N_Siniestro__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Number</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Matched_Case</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>HDI4I_ID_del_liquidador__c</queriedFields>
        <queriedFields>SIN_NombrePropietarioCaso__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <description>Update message session using número de siniestro</description>
        <name>LinkMessageSessionWithCase</name>
        <label>LinkMessageSessionWithCase</label>
        <locationX>696</locationX>
        <locationY>167</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Routable_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>Matched_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIN_PropietarioCaso__c</field>
            <value>
                <elementReference>Matched_Case.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <sourceTemplate>setup_bot__IntroBotLookupCase</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>150</locationY>
        <connector>
            <targetReference>Look_up_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Case_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Matched_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Matched_MessageSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingSession</objectType>
    </variables>
    <variables>
        <name>Routable_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
