UAT/force-app/main/default/flows/HDI4I_FLOW_INST_CALL_F2_Crea_poliza_de_seguro.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>HDI4I_tiene_cotizacion_creada</name>
        <label>¿TIENE COTIZACIÓN CREADA?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>HDI4I_Tiene_poliza_seguro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SI01</defaultConnectorLabel>
        <rules>
            <name>NO01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HDI4I_Obtiene_oportunidad.HDI4I_Automatizo_creacion_presupuesto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HDI4I_Crea_cotizacion</targetReference>
            </connector>
            <label>NO01</label>
        </rules>
    </decisions>
    <decisions>
        <name>HDI4I_Tiene_poliza_seguro</name>
        <label>¿TIENE PÓLIZA DE SEGURO?</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>SI02</defaultConnectorLabel>
        <rules>
            <name>NO02</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HDI4I_Obtiene_oportunidad.HDI4I_Se_ha_credo_poliza__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HDI4I_Crea_poliza_0</targetReference>
            </connector>
            <label>NO02</label>
        </rules>
    </decisions>
    <formulas>
        <name>HDI4I_Numero_poliza</name>
        <dataType>String</dataType>
        <expression>&quot;PÓLIZA&quot; + &quot; &quot; + {!$Record.HDI4I_RUT_del_cliente__c}</expression>
    </formulas>
    <interviewLabel>FLOW INST-CALL F2: Crea póliza de seguro {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLOW INST-CALL F2: Crea póliza de seguro</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>HDI4I_Crea_cotizacion</name>
        <label>CREA COTIZACIÓN</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>HDI4I_Obtiene_id_cotizacion</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>CLF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>HDI4I_Obtiene_oportunidad.Account.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>HDI4I_Obtiene_oportunidad.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HDI4I_Ano_del_vehiculo__c</field>
            <value>
                <elementReference>HDI4I_Obtiene_oportunidad.HDI4I_Ano_del_vehiculo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HDI4I_Marca__c</field>
            <value>
                <elementReference>HDI4I_Obtiene_oportunidad.HDI4I_Marca__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HDI4I_Modelo__c</field>
            <value>
                <elementReference>HDI4I_Obtiene_oportunidad.HDI4I_Modelo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>HDI4I_Obtiene_oportunidad.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>HDI4I_Obtiene_oportunidad.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Nueva</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>HDI4I_Crea_poliza_0</name>
        <label>CREA PÓLIZA</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>HDI4I_Obtiene_id_poliza</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>CLF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>HDI4I_Numero_poliza</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NameInsuredId</field>
            <value>
                <elementReference>HDI4I_Obtiene_oportunidad.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PolicyName</field>
            <value>
                <elementReference>HDI4I_Obtiene_oportunidad.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceOpportunityId</field>
            <value>
                <elementReference>HDI4I_Obtiene_oportunidad.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Borrador</stringValue>
            </value>
        </inputAssignments>
        <object>InsurancePolicy</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>HDI4I_Obtiene_id_cotizacion</name>
        <label>OBTIENE ID COTIZACIÓN</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HDI4I_Actualiza_oportunidad_datos_cotizacion_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HDI4I_Obtiene_oportunidad.Id</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputAssignments>
            <assignToReference>HDI4I_Id_quote</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>HDI4I_Obtiene_id_poliza</name>
        <label>OBTIENE ID PÓLIZA</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HDI4I_Actualiza_oportunidad_datos_poliza_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceOpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HDI4I_Obtiene_oportunidad.Id</elementReference>
            </value>
        </filters>
        <object>InsurancePolicy</object>
        <outputAssignments>
            <assignToReference>HDI4I_Id_poliza</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>HDI4I_Obtiene_oportunidad</name>
        <label>OBTIENE OPORTUNIDAD</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HDI4I_tiene_cotizacion_creada</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>HDI4I_Se_ha_credo_poliza__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HDI4I_Automatizo_creacion_presupuesto__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>HDI4I_Actualiza_oportunidad_datos_cotizacion_0</name>
        <label>ACTUALIZA OPORTUNIDAD: DATOS COTIZACIÓN</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>HDI4I_Tiene_poliza_seguro</targetReference>
        </connector>
        <inputAssignments>
            <field>HDI4I_Automatizo_creacion_presupuesto__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HDI4I_Id_cotizacion__c</field>
            <value>
                <elementReference>HDI4I_Id_quote</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>HDI4I_Actualiza_oportunidad_datos_poliza_0</name>
        <label>ACTUALIZA OPORTUNIDAD: DATOS PÓLIZA</label>
        <locationX>50</locationX>
        <locationY>1391</locationY>
        <inputAssignments>
            <field>HDI4I_Id_poliza_asociada__c</field>
            <value>
                <elementReference>HDI4I_Id_poliza</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HDI4I_Se_ha_credo_poliza__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HDI4I_Obtiene_oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123t000000JE6nAAG</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>HDI4I_Id_poliza</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HDI4I_Id_quote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
