UAT/force-app/main/default/flows/HDI4I_FLOW_INST_CALL_Actualiza_estado_de_conexion_de_ejecutiva.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>HDI4I_Online</name>
        <label>¿ONLINE?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>HDI4I_Actualiza_estado_offline</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HDI4I_on_off__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HDI4I_Actualiza_estado_online</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <description>Permite actualizar la información de conexión de la ejecutiva para el nuevo motor de asignación.</description>
    <interviewLabel>FLOW INST-CALL: Actualiza estado de conexión de ejecutiva {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLOW INST-CALL: Actualiza estado de conexión de ejecutiva</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>HDI4I_Obtiene_estado_ejecutiva</name>
        <label>OBTIENE ESTADO EJECUTIVA</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HDI4I_Online</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HDI4I_Ejecutiva__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HDI4I_Estado_ejecutivas_call_center__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>HDI4I_Asignacion__c</queriedFields>
        <queriedFields>HDI4I_Ejecutiva__c</queriedFields>
        <queriedFields>HDI4I_Ejecutivas_Call_Center__c</queriedFields>
        <queriedFields>HDI4I_Estado_de_conexion__c</queriedFields>
        <queriedFields>HDI4I_On_Off__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>HDI4I_Actualiza_estado_offline</name>
        <label>ACTUALIZA ESTADO OFFLINE</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HDI4I_Obtiene_estado_ejecutiva.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HDI4I_Estado_de_conexion__c</field>
            <value>
                <stringValue>Off</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HDI4I_On_Off__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>HDI4I_Estado_ejecutivas_call_center__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>HDI4I_Actualiza_estado_online</name>
        <label>ACTUALIZA ESTADO ONLINE</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HDI4I_Obtiene_estado_ejecutiva.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HDI4I_Estado_de_conexion__c</field>
            <value>
                <stringValue>On</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HDI4I_On_Off__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>HDI4I_Estado_ejecutivas_call_center__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HDI4I_Obtiene_estado_ejecutiva</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HDI4I_on_off__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
