UAT/force-app/main/default/flows/Live_Chat_Transcrpt_Event_Tiempos_de_transcripci_n.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>chat_finalizado_por_cliente_y_agente_NULL</name>
        <label>chat finalizado por cliente y agente NULL</label>
        <locationX>1766</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>tiempo_cliente_abandona_el_chat</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>cliente_y_agente_null_chat_finalizado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LiveChatTranscript.HDI4I_Tiempo_Chat_finalizado_por_agente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LiveChatTranscript.HDI4I_Tiempo_Chat_finalizado_por_cliente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tiempo_chat_Finalizado2</targetReference>
            </connector>
            <label>cliente y agente null chat finalizado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cliente_abandona_chat_y_finalizado_por_cliente_Null</name>
        <label>Cliente abandona chat y finalizado por cliente Null</label>
        <locationX>1238</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>chat_finalizado1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cleinte_abandona_y_finaliza_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LiveChatTranscript.HDI4I_Tiempo_Cliente_abandona_chat__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LiveChatTranscript.HDI4I_Tiempo_Chat_finalizado_por_cliente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tiempo_chat_Finalizado</targetReference>
            </connector>
            <label>Cleinte abandona y finaliza NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copia_tiempos_de_evento_en_transcripci_n_de_chat</name>
        <label>Copia tiempos de evento en transcripción de chat</label>
        <locationX>1106</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Solicita_Chat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LiveChatTranscript.HDI4I_Tiempo_Solicita_Agente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TransferredToButton</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tiempo_Solicita_Chat</targetReference>
            </connector>
            <label>Solicita Chat</label>
        </rules>
        <rules>
            <name>Acepta_chat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LiveChatTranscript.HDI4I_Tiempo_Agente_acepta_Chat__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tiempo_Agente_acepta_chat</targetReference>
            </connector>
            <label>Acepta chat</label>
        </rules>
        <rules>
            <name>Finalizado_por_Cliente1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LiveChatTranscript.HDI4I_Tiempo_Chat_finalizado_por_cliente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EndVisitor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tiempos_de_finalizacion</targetReference>
            </connector>
            <label>Finalizado por Cliente1</label>
        </rules>
        <rules>
            <name>Finalizado_por_Agente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LiveChatTranscript.HDI4I_Tiempo_Chat_finalizado_por_agente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EndAgent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cliente_abandona_chat_y_finalizado_por_cliente_Null</targetReference>
            </connector>
            <label>Finalizado por Agente</label>
        </rules>
        <rules>
            <name>Tiempo_Abandona_Chat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LiveChatTranscript.HDI4I_Tiempo_Cliente_abandona_chat__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LeaveVisitor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>chat_finalizado_por_cliente_y_agente_NULL</targetReference>
            </connector>
            <label>Tiempo Abandona Chat</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiempos_de_finalizacion</name>
        <label>Tiempos de finalizacion</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Tiempo_Finalizado_por_cliente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Finalizado_por_Agente_y_Cliente_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LiveChatTranscript.HDI4I_Tiempo_Chat_finalizado_por_agente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LiveChatTranscript.HDI4I_Tiempo_Chat_finalizado_por_cliente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>chat_finalizado</targetReference>
            </connector>
            <label>Finalizado por Agente y Cliente Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Live Chat Transcrpt Event Tiempos de transcripción {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Live Chat Transcrpt Event Tiempos de transcripción</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>chat_finalizado</name>
        <label>chat finalizado</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LiveChatTranscriptId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HDI4I_Tiempo_Chat_finalizado__c</field>
            <value>
                <elementReference>$Record.Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HDI4I_Tiempo_Chat_finalizado_por_cliente__c</field>
            <value>
                <elementReference>$Record.Time</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>chat_finalizado1</name>
        <label>chat finalizado agente1</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LiveChatTranscriptId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HDI4I_Tiempo_Chat_finalizado_por_agente__c</field>
            <value>
                <elementReference>$Record.Time</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>Tiempo_Agente_acepta_chat</name>
        <label>Tiempo Agente acepta chat</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LiveChatTranscriptId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HDI4I_Tiempo_Agente_acepta_Chat__c</field>
            <value>
                <elementReference>$Record.Time</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>Tiempo_chat_Finalizado</name>
        <label>Tiempo chat Finalizado</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LiveChatTranscriptId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HDI4I_Tiempo_Chat_finalizado__c</field>
            <value>
                <elementReference>$Record.Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HDI4I_Tiempo_Chat_finalizado_por_agente__c</field>
            <value>
                <elementReference>$Record.Time</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>Tiempo_chat_Finalizado2</name>
        <label>Tiempo chat Finalizado2</label>
        <locationX>1634</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LiveChatTranscriptId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HDI4I_Tiempo_Chat_finalizado__c</field>
            <value>
                <elementReference>$Record.Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HDI4I_Tiempo_Cliente_abandona_chat__c</field>
            <value>
                <elementReference>$Record.Time</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>tiempo_cliente_abandona_el_chat</name>
        <label>tiempo cliente abandona el chat</label>
        <locationX>1898</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LiveChatTranscriptId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HDI4I_Tiempo_Cliente_abandona_chat__c</field>
            <value>
                <elementReference>$Record.Time</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>Tiempo_Finalizado_por_cliente</name>
        <label>Tiempo Finalizado por cliente</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LiveChatTranscriptId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HDI4I_Tiempo_Chat_finalizado_por_cliente__c</field>
            <value>
                <elementReference>$Record.Time</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>Tiempo_Solicita_Chat</name>
        <label>Tiempo Solicita Chat</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LiveChatTranscriptId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HDI4I_Tiempo_Solicita_Agente__c</field>
            <value>
                <elementReference>$Record.Time</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copia_tiempos_de_evento_en_transcripci_n_de_chat</targetReference>
        </connector>
        <object>LiveChatTranscriptEvent</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
