UAT/force-app/main/default/flows/Messaging_Session_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>enviarMail</name>
        <label>enviarMail</label>
        <locationX>930</locationX>
        <locationY>744</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyMsj</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>adress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Recumen conversacion HDI</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FinalizacionManual</name>
        <label>Finalización Manual</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <stringValue>WhatsApp_CL_whatsapp_56958886533</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <stringValue>hdi4i_finalizarChat_01</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>$Record.MessagingEndUserId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>FinalizacionPorOffline</name>
        <label>Finalización por Offline</label>
        <locationX>314</locationX>
        <locationY>648</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <stringValue>WhatsApp_CL_whatsapp_56958886533</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <stringValue>hdi4i_offline_01</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>$Record.MessagingEndUserId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Copy_1_of_asignMessage</name>
        <label>Copy 1 of asignMessage</label>
        <locationX>1018</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>msj</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>makeString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>msj</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>new</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forEachConv</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>usuarioActivo</name>
        <label>usuarioActivo</label>
        <locationX>248</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>VerificarUsuarioBot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getUsuarioPresencia</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FinalizacionManual</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificarUsuarioBot</name>
        <label>Verificar usuario de bot</label>
        <locationX>446</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Automated_Process_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FinalizacionPorOffline</targetReference>
            </connector>
            <label>NO Automated Process User</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ct</name>
        <dataType>String</dataType>
        <expression>LEFT({!reep}, LEN({!reep})-1)</expression>
    </formulas>
    <formulas>
        <name>form</name>
        <dataType>String</dataType>
        <expression>LEFT({!reep}, LEN({!reep})-1)</expression>
    </formulas>
    <formulas>
        <name>makeString</name>
        <dataType>String</dataType>
        <expression>{!forEachConv.ActorName} &amp;&apos; : &apos;&amp;{!forEachConv.Message}</expression>
    </formulas>
    <formulas>
        <name>new</name>
        <dataType>String</dataType>
        <expression>&apos;&apos;&amp;BR()&amp;&apos;-&apos;</expression>
    </formulas>
    <interviewLabel>Messaging Session v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Messaging Session v2</label>
    <loops>
        <name>forEachConv</name>
        <label>forEachConv</label>
        <locationX>930</locationX>
        <locationY>408</locationY>
        <collectionReference>getConverSationEntry</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_asignMessage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>enviarMail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getConverSationEntry</name>
        <label>getConverSationEntry</label>
        <locationX>930</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>forEachConv</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConversationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ConversationEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUsuarioPresencia</name>
        <label>getUsuarioPresencia</label>
        <locationX>248</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>usuarioActivo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StatusEndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserServicePresence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>463</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getUsuarioPresencia</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ended</stringValue>
            </value>
        </filters>
        <object>MessagingSession</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>getConverSationEntry</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>bodyMsj</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://i.ibb.co/BtGfMqS/header-aquiestamos-clientes-1195.png&quot; alt=&quot;header-aquiestamos-clientes-1195&quot;&gt;&lt;/p&gt;&lt;p&gt;Hola &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!jump}&lt;/span&gt;  ,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Le enviamos la transcripcion de la conversacion reciente con HDI.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!msj}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Saludos!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://i.ibb.co/P1YkrH3/footer-1196.png&quot; alt=&quot;footer-1196&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>adress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Case.SuppliedEmail</elementReference>
        </value>
    </variables>
    <variables>
        <name>jump</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Case.Account.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>lst</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>msj</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
