UAT/force-app/main/default/flows/SIN_CasoSiniestro_TipoRegistroViejo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_Whatsapp_Denuncio</name>
        <label>Enviar Whatsapp Denuncio</label>
        <locationX>842</locationX>
        <locationY>528</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <connector>
            <targetReference>crearWhatsappHistoryWhatsAppEnviado</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <stringValue>WhatsApp_CL_whatsapp_56958886533</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <stringValue>hdi4i_denuncio_01</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>$Record.Messaging_User__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>asignarContactoEncontrado</name>
        <label>asignarContactoEncontrado</label>
        <locationX>314</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContacto.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getMessagingEndUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asignarMessagingEndUserEncontrado</name>
        <label>asignarMessagingEndUserEncontrado</label>
        <locationX>314</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>$Record.Messaging_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getMessagingEndUser.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getEjecutivaLiquidador</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>esHDI_Siniestro_SIN</name>
        <label>esSiniestro</label>
        <locationX>380</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Siniestro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContacto</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>esHDI_Siniestro_SIN2</name>
        <label>esSiniestro</label>
        <locationX>1172</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Siniestro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SIN_EnviarMensajeWhatsapp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>verifCel</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>existeContacto</name>
        <label>existeContacto</label>
        <locationX>182</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>asignarContactoEncontrado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoExisteContacto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContacto</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getIndustriesIndividualTipoRegistro</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>existeEjecutivaLiquidador</name>
        <label>existeEjecutivaLiquidador</label>
        <locationX>182</locationX>
        <locationY>1680</locationY>
        <defaultConnector>
            <targetReference>crearWhatsAppHistoryMotivoNoAplica</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getEjecutivaLiquidador</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>actualizarPropietarioDelCaso</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>existeMessagingEndUser</name>
        <label>existeMessagingEndUser</label>
        <locationX>182</locationX>
        <locationY>1104</locationY>
        <defaultConnector>
            <targetReference>asignarMessagingEndUserEncontrado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>noExisteMessagingEndUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMessagingEndUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getMessagingChannelWhatsapp_56958886533</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>verifCel</name>
        <label>verifCel</label>
        <locationX>974</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>crearWhatsappHistoryMotivoNumeroErroneo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>celCorrecto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>largoCel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_Whatsapp_Denuncio</targetReference>
            </connector>
            <label>celCorrecto</label>
        </rules>
    </decisions>
    <description>Record Type Name	Siniestro</description>
    <environments>Default</environments>
    <formulas>
        <name>largoCel</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!$Record.HDI_CelularAsegurado__c}) &gt; 8</expression>
    </formulas>
    <interviewLabel>Casos de Siniestro Tipo Registro Viejo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Casos de Siniestro Tipo Registro Viejo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>crearContacto</name>
        <label>crearContacto</label>
        <locationX>50</locationX>
        <locationY>768</locationY>
        <assignRecordIdToReference>$Record.ContactId</assignRecordIdToReference>
        <connector>
            <targetReference>getMessagingEndUser</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.HDI4I_Nombre_del_asegurado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.HDI_CelularAsegurado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getIndustriesIndividualTipoRegistro.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rut_sin_puntos_y_con_gui_n__c</field>
            <value>
                <elementReference>$Record.HDI4I_Rut_del_asegurado__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>crearMessagingEndUser</name>
        <label>crearMessagingEndUser</label>
        <locationX>50</locationX>
        <locationY>1344</locationY>
        <assignRecordIdToReference>$Record.Messaging_User__c</assignRecordIdToReference>
        <connector>
            <targetReference>getEjecutivaLiquidador</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageType</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingChannelId</field>
            <value>
                <elementReference>getMessagingChannelWhatsapp_56958886533.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingConsentStatus</field>
            <value>
                <stringValue>ImplicitlyOptedIn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingPlatformKey</field>
            <value>
                <stringValue>whatsapp:{!$Record.HDI_CelularAsegurado__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.HDIApellidosDelAsegurado__c</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
    </recordCreates>
    <recordCreates>
        <name>crearWhatsAppHistoryMotivoNoAplica</name>
        <label>crearWhatsAppHistoryMotivoNoAplica</label>
        <locationX>314</locationX>
        <locationY>1800</locationY>
        <inputAssignments>
            <field>Caso__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>No aplica enviar whatsapp</stringValue>
            </value>
        </inputAssignments>
        <object>WhatsAppProcessHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>crearWhatsappHistoryMotivoNumeroErroneo</name>
        <label>crearWhatsappHistoryMotivoNumeroErroneo</label>
        <locationX>1106</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>Caso__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Número erroneo</stringValue>
            </value>
        </inputAssignments>
        <object>WhatsAppProcessHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>crearWhatsappHistoryWhatsAppEnviado</name>
        <label>crearWhatsappHistoryWhatsAppEnviado</label>
        <locationX>842</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>Caso__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Whatsapp enviado</stringValue>
            </value>
        </inputAssignments>
        <object>WhatsAppProcessHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getContacto</name>
        <label>getContacto</label>
        <locationX>182</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>existeContacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rut_sin_puntos_y_con_gui_n__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HDI4I_Rut_del_asegurado__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEjecutivaLiquidador</name>
        <label>getEjecutivaLiquidador</label>
        <locationX>182</locationX>
        <locationY>1560</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>existeEjecutivaLiquidador</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id_Liquidador__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HDI4I_ID_del_liquidador__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SIN_EjecutivoLiquidador__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getIndustriesIndividualTipoRegistro</name>
        <label>getIndustriesIndividualTipoRegistro</label>
        <locationX>50</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>crearContacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IndustriesIndividual</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMessagingChannelWhatsapp_56958886533</name>
        <label>getMessagingChannelWhatsapp_56958886533</label>
        <locationX>50</locationX>
        <locationY>1224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>crearMessagingEndUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WhatsApp_CL_whatsapp_56958886533</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingChannel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMessagingEndUser</name>
        <label>getMessagingEndUser</label>
        <locationX>182</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>existeMessagingEndUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MessagingPlatformKey</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>whatsapp:{!$Record.HDI_CelularAsegurado__c}</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>actualizarPropietarioDelCaso</name>
        <label>actualizarPropietarioDelCaso</label>
        <locationX>50</locationX>
        <locationY>1800</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getEjecutivaLiquidador.Ejecutivo_Siniestro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIN_EnviarMensajeWhatsapp__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>esHDI_Siniestro_SIN</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>esHDI_Siniestro_SIN2</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
