UAT/force-app/main/default/flows/SIN_CasoSiniestro.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_Whatsapp_Denuncio</name>
        <label>Enviar Whatsapp Denuncio</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <connector>
            <targetReference>crearWhatsappHistoryWhatsAppEnviado</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <stringValue>WhatsApp_CL_whatsapp_56958886533</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <stringValue>hdi4i_denuncio_01</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>$Record.Messaging_User__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Casos de Siniestro {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Casos de Siniestro</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>crearWhatsappHistoryWhatsAppEnviado</name>
        <label>crearWhatsappHistoryWhatsAppEnviado</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Caso__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Whatsapp enviado</stringValue>
            </value>
        </inputAssignments>
        <object>WhatsAppProcessHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enviar_Whatsapp_Denuncio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SIN_EnviarMensajeWhatsapp__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SIN_EnviarMensajeWhatsapp__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
