UAT/force-app/main/default/flows/SLA_Total_Chat_Center_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sp1Alerta_SLA_caso_de_Chat_Center</name>
        <label>Case.Alerta_SLA_caso_de_Chat_Center</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case.Alerta_SLA_caso_de_Chat_Center</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <description>Migrated from the: SLA Total Chat Center workflow rule
Workflow rule description: &quot;</description>
    <label>SLA Total Chat Center_2</label>
    <migratedFromWorkflowRuleName>SLA Total Chat Center</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>ScheduledPath1Update</name>
        <label>ScheduledPath1Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>sp1Alerta_SLA_caso_de_Chat_Center</targetReference>
        </connector>
        <inputAssignments>
            <field>HDI4I_SLA_total_Chatcenter__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>({!$Record.RecordType.Name}  = &quot;Chatcenter&quot;) &amp;&amp; (!ISPICKVAL( {!$Record.Status} , &quot;Cerrado&quot;) &amp;&amp; !ISPICKVAL( {!$Record.Status} , &quot;Cerrado sin Resolución&quot;)&amp;&amp; !ISPICKVAL( {!$Record.Status} , &quot;Cerrado en Chat&quot;))</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>ScheduledPath1</name>
            <connector>
                <targetReference>ScheduledPath1Update</targetReference>
            </connector>
            <label>ScheduledPath1</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
